@model QuestionEntity;

@{
    var ticket = (Ticket)ViewBag.Ticket;

    var ticketData = (List<TicketData>)ViewBag.TicketData;

    ViewData["Title"] = $"Ticket {ticket.Id}";
    var imageUrl = string.IsNullOrEmpty(Model.Image) 
        ? "car.png" 
        : Model.Image + ".png";
}


<div class="text-center">
@for(int i = ticket.FromIndex; i < ticket.FromIndex + ticket.QuestionsCount; i++)
{
    var btnIndex = i - ticket.FromIndex + 1;
    var questionIndexModul = i == Model.Id 
    ? "btn btn-primary" 
    : "btn btn-secondary";


    var questionData = ticketData.FirstOrDefault(data => data.QuestionId == i);

    if (questionData != null)
    {
        questionIndexModul = questionData.Answer ? "btn btn-success" : "btn btn-danger";
    }

    <a class="@questionIndexModul"
    asp-action="Exam"
    asp-route-ticketId="@ticket.Id"
    asp-route-questionId="@i">@btnIndex</a>
}


<br />
<img class="w-25 mt-5" src="~/images/@imageUrl"/>

@if (ticket.IsTraining)
{
    <div class="accordion my-2" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    @Model.Question
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @Model.Description
                </div>
            </div>
        </div>

</div>
}



<h1>@Model.Question</h1>

@{
    int choiceNumber = 1;
}

@foreach(var choice in Model.Choices!)
{
    var modul = "btn btn-primary mb-3";
    if (choice.Id == ViewBag.ChoiceId)
    {
        modul = ViewBag.Answer == true 
        ? "btn btn-success mb-3" 
        : "btn btn-danger mb-3";
    }

    <a asp-action="Exam" 
        asp-route-ticketId="@ticket.Id" 
        asp-route-questionId="@Model.Id"
        asp-route-choiceId="@choice.Id" class="@modul">@choiceNumber.  @choice.Text</a>
    <br />
    choiceNumber ++;
}
</div>